.dp-blockTop
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 5px
    &__tit
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        font-size: 14px
        line-height: 30px
        text-transform: uppercase
        color: $accentColor
        cursor: pointer
        transition: 0.3s
    &__arr
        cursor: pointer
        path
            fill: #9FA0A4
    
.dp-blockCell
    position: relative
    display: flex
    align-items: center
    justify-content: center
    width: 40px
    height: 40px
    font-size: 14px
    outline: 1px solid #E5E5E5
    color: $textColor
    cursor: pointer
    background-color: #fff
    text-transform: uppercase
    span
        position: relative
        z-index: 2
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
    &.--week
        text-transform: uppercase
        color: rgba(65, 70, 88, 0.4)
        outline: none
        cursor: default
    &.--hide
        color: #eee
        cursor: default
    &.--now
        &:after
            content: ''
            position: absolute
            z-index: 3
            top: 5px
            right: 5px
            display: block
            width: 5px
            height: 5px
            background-color: $red
            border-radius: 10em
    &.--select
        span
            color: $white
            background-color: $accentColor

.dp-block
    display: flex
    flex-direction: column
    width: min-content
    user-select: none
    &__body
        position: relative
        width: 280px
        height: auto
    &__row
        display: flex
        flex-wrap: wrap
        align-items: center
    &__days
        width: 100%
        height: max-content
        transition: 0.3s
    &__months
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        padding-top: 15px
        display: flex
        flex-wrap: wrap
        transition: 0.3s
        .dp-blockCell
            width: calc(100% / 3)
            height: calc(100% / 4)

    &.--dayLayer
        .dp-blockTop__tit
            &.--monthLayer
                opacity: 0
                visibility: hidden
        .dp-block__months
            opacity: 0
            visibility: hidden
    &.--monthLayer
        .dp-blockTop__tit
            &.--dayLayer
                opacity: 0
                visibility: hidden
        .dp-block__days
            opacity: 0
            visibility: hidden

    &.--single
        .dp-blockCell.--select
            background-color: transparent
            span
                background-color: $accentColor
                border-radius: 10em
    &.--range
        .dp-block__row.--days
            .dp-blockCell.--select
                position: relative
                span
                    background-color: rgba($accentColor, 0.5)
                &::before
                    content: ''
                    position: absolute
                    z-index: 1
                    top: 0
                    display: none
                    width: 50%
                    height: 100%
                    background-color: rgba($accentColor, 0.5)
                &.--single
                    background-color: transparent
                    span
                        background-color: $accentColor
                        border-radius: 10em
                &.--first
                    background-color: transparent
                    span
                        background-color: $accentColor
                        border-radius: 10em
                    &::before
                        display: block
                        right: 0
                &.--last
                    background-color: transparent
                    span
                        background-color: $accentColor
                        border-radius: 10em
                    &::before
                        display: block
                        left: 0
                &.--first.--last
                    &::before
                        display: none
