.page
	position: relative
	z-index: 1
	overflow: hidden
	width: 100%
	min-height: 100vh
	&__body
		display: flex
		flex-wrap: wrap
		width: 100%
		padding: 20px
	&__row
		margin-bottom: 40px
		width: 50%
		&:last-child
			margin-bottom: 0
	&__tit
		width: 100%
		margin: 20px 0
		padding: 5px 0
		font-size: 12px
		font-weight: bold
		text-transform: uppercase
		border-bottom: 1px solid #000